# pylint for movie_rating.

[MASTER]

ignore-patterns=^manage\.py,/migrations/.*\.py,.*settings.*\.py

load-plugins=pylint_django

[MESSAGES CONTROL]

disable=too-many-ancestors,import-error,no-name-in-module
