{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="card w-25 h-25">
    <img class="card-img-top"
         src="{% static 'ratings/images/'|add:movie.poster_id|safe %}"
         alt="{{ movie.name }} poster">
    <div class="card-body">
        <p>{{ movie.name }}</p>
        <p>{{ movie.description }}</p>
        <p>{{ movie.release_date }}</p>
        <p>{{ movie.language }}</p>
    </div>
</div>
<h1>Similar movies</h1>
<!--{{ movie.similar_movies.objects.all }}-->
<div class="d-flex">
{% for similar_movie in movie.similar_movies.all %}
    {% include "ratings/movie.html" with movie=similar_movie %}
{% endfor %}
</div>
{% endblock %}
