{% load static %}
<div class="col-md-2 p-4">
    <div class="card w-100 h-100">
        <div class="hover rounded">
            <a href="{{ movie.get_absolute_url }}">
                <img class="card-img-top"
                     src="{% static 'ratings/images/'|add:movie.poster_id|safe %}"
                     alt="{{ movie.name }} poster">
            </a>
            <div class="hover-overlay">
                <h3 class="hover-title text-uppercase font-weight-bold text-dark">
                    {{ movie.name }}
                </h3>
                <p class="hover-description text-dark">
                    {{ movie.description|truncatechars:255 }}
                </p>
            </div>
        </div>
    </div>
</div>
