{% load static %}
<div class="col-xs-6 col-sm-4 col-lg-2 p-4">
    <div class="card w-100 h-100">
        <div class="rounded">
            <a href="{{ movie.get_absolute_url }}">
                <img class="card-img-top"
                     src="{% static 'ratings/images/'|add:movie.poster_id|safe %}"
                     alt="{{ movie.name }} poster" data-toggle="tooltip"
                     data-html="true"
                     title="{% include 'ratings/tooltip.html' with movie=movie %}">
            </a>
        </div>
    </div>
</div>
