{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row">
    <div class="d-flex flex-wrap">
        {% for movie in movies %}
        <div class="col-md-3 my-5">
            <div class="card mb-3 h-100" style="width: 18rem;" >
                <a href="{{ movie.get_absolute_url }}"><img class="card-img-top" src="{% static 'ratings/images/'|add:movie.poster_id|safe %}"
                     alt="{{ movie.name }} poster"></a>
                <div class="card-body">
                    <h5 class="card-title">{{ movie.name }}</h5>
                    <p class="card-text">{{ movie.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
