{% load static %}
<div class="col-md-2 my-5">
    <div class="card mb-2 w-76 h-100">
        <a href="{{ movie.get_absolute_url }}">
            <img class="card-img-top"
                 src="{% static 'ratings/images/'|add:movie.poster_id|safe %}"
                 alt="{{ movie.name }} poster">
        </a>
        <div class="card-body">
            <a href="{{ movie.get_absolute_url }}">
                <h5 class="card-title">{{ movie.name }}</h5>
            </a>
            <p class="card-text">{{ movie.description|truncatechars:255 }}</p>
        </div>
    </div>
</div>
